$light-gray: #777;
$gray-medium-light: #eaeaea;
$gray-deaker: #222;
$gray: #555;
$white: white;
$border: #bbb;
$red: #ff0000;
$black: #e8e8e8;
$solid-white-2: #DDD;
$solid-white-3: #ddd;
$blue: #0000FF;
